<ion-view view-title="Help" >
    <ion-nav-title>
        Help
    </ion-nav-title>
    <ion-content class="has-header">

        <div class="card">
            <div class="item item-divider">
                Search
            </div>
            <div class="item item-text-wrap">
                Use trademark Serial Number, Registration Number or Reference Number to perform searches. You can search for multiple trademarks by using comma as a separator.
                <b>Search Format</b> - <br/>
                Serial Number - Number with 8 digits <br/>
                Registration Number - Number with 5 to 7 digits <br/>
                Reference Number - Alphanumeric with 8 characters <br/>
                Swipe search results from right to left to share or bookmark them.
                Click on an item in search results to bring up the trademark detail page.
                <br/>
            </div>
        </div>
        <div class="card">
            <div class="item item-divider">
                Notebooks
            </div>
            <div class="item item-text-wrap">
                Create Notebooks to group your favorite trademarks. Notebooks can be swiped to delete them. Clicking on a notebook will bring up all trademarks grouped under that notebook.
            </div>
        </div>
        <div class="card">
            <div class="item item-divider">
                Bookmarks
            </div>
            <div class="item item-text-wrap">
                Click on a notebook to access Bookmarks page. Swipe an item in the list to delete or share bookmark and click on it to see trademark details.
            </div>
        </div>
        <div class="card">
            <div class="item item-divider">
                Notifications and Alerts
            </div>
            <div class="item item-text-wrap">
                The system keeps monitoring the status of trademarks that you've bookmarked. Whenever a status change is detected, it alerts you with a notification. <br/>
                Clicking on the notification will bring up 'Alerts' page in the app. This page lists all trademarks whose status has changed. You can swipe on an item to dismiss and remove it from this page.
                The 'Alerts' page can also be accessed from the Notebooks tab by clicking on the Alert icon.
            </div>
        </div>

        <div class="card">
            <div class="item item-divider">
                Preferred Status Codes
            </div>
            <div class="item item-text-wrap">
                There are about 150 possible status codes for a trademark. To receive notifications only for specific status changes, select your preferred status codes on this page.
            </div>
        </div>

    </ion-content>
</ion-view>
