<ion-view view-title="Settings" hide-back-button="true">
    <ion-nav-title>
        Settings
    </ion-nav-title>
    <ion-content class="has-header" >

        <ion-list class="list" >
            <ion-item class="item item-icon-left item-icon-right" href="#/tab/settings/preferredStatusCodes">
                <i class="icon ion-star"></i>
                <h2> Preferred Status Codes </h2>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
            <ion-item class="item item-icon-left item-icon-right" href="#/tab/settings/help">
                <i class="icon ion-help" ></i>
                <h2> Help </h2>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
